.container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.text_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem;
}

.text {
    color: #fff;
    line-height: 0.8;
}

.title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
}

.separator {
    display: inline-block;
}

.desc {
    font-size: 11px;
    line-height: 1.2;
}

.tag {
    position: absolute;
    top: 0.695rem;
    right: 0.695rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2.375rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.2rem);
    font-size: 11px;
    line-height: 1.2;
}

.blurred {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.5rem);
}

@media only screen and (min-width: 1024px) {
    .text_wrapper {
        padding: 2rem 1rem;
    }
    .title {
        font-size: 14px;
    }

    .desc {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2000px) {
    .title {
        font-size: calc(14px + 4.2 * ((100vw - 2000px) / 1440));
    }

    .desc {
        font-size: calc(14px + 4.2 * ((100vw - 2000px) / 1440));
    }
}
