.container {
    background-color: #fff;
}

.main {
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.test {
    position: relative;
    height: 100vh;
    scroll-snap-align: start end;
}

/* main_page */
.main_page {
    position: relative;
    height: 100vh;
    scroll-snap-align: start end;
}
.main_page_image {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 36.29% 43.94%;
}
.main_page_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    color: #fff;
}
.main_page_title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
}
.main_page_separator {
    display: inline-block;
}
.main_page_desc {
    font-size: 11px;
    line-height: 1.2;
}

/* info_page */
.info_page {
    height: 100vh;
    padding: 4.5rem 1.125rem;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start end;
}
.info_page_top_container {
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.25rem;
    width: 100%;
}
.info_page_top_container > h2 {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
}
.info_page_top_container > p {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}
.info_page_top_container > a {
    margin-top: 2rem;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
}
.info_page_bottom_container {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2.625rem;
    width: 100%;
}
.info_page_bottom_container h3 {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.375rem;
}
.info_page_bottom_container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.info_page_bottom_container li {
    display: inline;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

/* only_fullscreen_image_page */
.only_fullscreen_image_page {
    height: 100vh;
    scroll-snap-align: start end;
}
.only_fullscreen_image_page_image {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* fullscreen_image_with_bot_right_text */
.fullscreen_image_with_bot_right_text {
    position: relative;
    height: 100vh;
    scroll-snap-align: start end;
}
.fullscreen_image_with_bot_right_text_image {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.fullscreen_image_with_bot_right_text_text_wrapper {
    position: absolute;
    bottom: 2.125rem;
    width: 100%;
    max-width: 13rem;
    right: 5.263vw;
    mix-blend-mode: exclusion;
    color: #fff;
}
.fullscreen_image_with_bot_right_text_text_wrapper > h2 {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.435rem;
}
.fullscreen_image_with_bot_right_text_text_wrapper > p {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

/* only_centered_text */
.only_centered_text {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: rgb(225, 225, 225);
    color: #000;
    scroll-snap-align: start end;
}
.only_centered_text_text_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    gap: 2.19rem;
    max-width: 60ch;
}
.only_centered_text_text_wrapper > h2 {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}
.only_centered_text_text_wrapper > p {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

/* only_centered_portrait_video */
.only_centered_portrait_video {
    display: grid;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding: 5rem 0px 10rem;
    background-color: rgb(255, 255, 255);
    scroll-snap-align: start end;
}
.only_centered_portrait_video_video_wrapper {
    max-width: 100%;
    width: 63.157vw;
    margin: auto;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
}
.only_centered_portrait_video_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* fullscreen_video_with_bot_right_text */
.fullscreen_video_with_bot_right_text {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    scroll-snap-align: start end;
}
.fullscreen_video_with_bot_right_text_video_wrapper {
    max-width: 100%;
    height: 100%;
}
.fullscreen_video_with_bot_right_text_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.fullscreen_video_with_bot_right_text_text_wrapper {
    position: absolute;
    bottom: 2.125rem;
    width: 100%;
    max-width: 13rem;
    right: 5.263vw;
    mix-blend-mode: exclusion;
    color: #fff;
}
.fullscreen_video_with_bot_right_text_text_wrapper > h2 {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.435rem;
}
.fullscreen_video_with_bot_right_text_text_wrapper > p {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

/* centered_video_with_bot_left_text */
.centered_video_with_bot_left_text {
    display: grid;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding: 5rem 0px 10rem;
    background-color: rgb(45, 46, 44);
    scroll-snap-align: start end;
}
.centered_video_with_bot_left_text_video_wrapper {
    max-width: 100%;
    width: 63.157vw;
    margin: auto;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
}
.centered_video_with_bot_left_text_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.centered_video_with_bot_left_text_text_wrapper {
    position: absolute;
    bottom: 2.125rem;
    width: 100%;
    max-width: 13rem;
    left: 5.263vw;
    mix-blend-mode: exclusion;
    color: #fff;
}
.centered_video_with_bot_left_text_text_wrapper > h2 {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.435rem;
}
.centered_video_with_bot_left_text_text_wrapper > p {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}
