.container {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2.125rem;
    padding: 2.188rem 1.5rem;
    opacity: 0;
}

.content_open {
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0.25s;
}

.heading {
    margin-bottom: 1.063rem;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.list_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list_item {
    list-style: none;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filter_selected {
    color: var(--color-blue);
    font-style: italic;
}

@media only screen and (min-width: 1024px) {
    .content {
        row-gap: 4rem;
        padding: 4.5rem 5rem;
    }

    .heading {
        font-size: 16px;
    }

    .list_item {
        font-size: 20px;
    }
}
