.container {
    min-width: 140px;
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    translate: 15px 17px;
    background-color: var(--color-orange);
    opacity: 0;
    transition: translate 0.2s linear, opacity 0.2s linear;
}
.container:hover .dot {
    transition: translate 0.2s linear, opacity 0.2s linear;
    translate: 0px 17px;
    opacity: 1;
}

.title {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: bold;
    transition: translate 0.2s linear;
}
.container:hover .title {
    transition: translate 0.2s linear;
    translate: 15px 0px;
}

.image_container {
    width: 100%;
}

.image {
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}

@media only screen and (min-width: 1024px) {
    .container {
        min-width: 350px;
    }
}

@media only screen and (min-width: 2000px) {
    .container {
        min-width: 550px;
    }
}
